<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="demopolymer-app">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
    <h3>Mi valor es [[prop2]]</h3>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class DemopolymerApp extends Polymer.Element {
      static get is() { return 'demopolymer-app'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'Erick Prueba Polymer'
          },
          prop2: {
            type: Number,
            value: 999
          }
        };
      }
    }

    window.customElements.define(DemopolymerApp.is, DemopolymerApp);
  </script>
</dom-module>
