<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="mi-visor">
    <template>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
        <style>
            :host {
                display: block;
             }
        </style>
        <div class="container">
            <div class="row">
                <img src="https://picsum.photos/200">
            </div>
            <div class="row">
              <button type="button" name="button" class="btn btn-success" on-click="incrementar">Cargar datos</button>
            </div>

            <div class="row">
              <input is="iron-input" value="{{prop1::input}}">
              <input is="iron-input" value="[[prop1]]">
            </div>
            <div class="row">
                <table class="table table-striped col-lg-6 col-xs-12">
                    <thead>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                    </thead>
                    <tbody>
                        <tr>
                            <th>[[prop2]]</th>
                            <th>Erick</th>
                            <th>Rodriguez</th>
                        </tr>
                        <tr>
                            <th>2</th>
                            <th>Alan</th>
                            <th>Rodriguez</th>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </template>
    <script>
        class MiVisor extends Polymer.Element {
            static get is() {return 'mi-visor';}
            static get properties() {
              return {
                prop1: {
                  type: String,
                  //value: 'Erick Prueba Polymer'
                },
                prop2: {
                  type: Number,
                  value: 999
                }
              };
            }
            incrementar(){
              this.prop2+=1;;
              console.log(this.prop2);
              console.log(this.prop1);
            }
      }

        window.customElements.define(MiVisor.is, MiVisor);
    </script>
</dom-module>
